.content {
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 9rem;
    padding: 10rem;
}

.content::before {
    content: "";
    background: linear-gradient(to bottom,
            rgba(241, 241, 241, 0.5),
            #07beb893), url(../../../assets/images/background-1.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.65;
}
